.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  padding-right: 3%;
  padding-left: 3%;
}

#fridgebutton {
  border-radius: 5px;
}

#fridgelist {
  background-color:dodgerblue;
  margin-left: 10%;
  margin-right: 10%;
}

#newfridgeform {
  padding-right: 30%;
  padding-left: 30%;
}

#login {
  padding-right: 30%;
  padding-left: 30%;
}

#register {
  padding-right: 30%;
  padding-left: 30%;
}

#recipesearch {
  padding-right: 20%;
  padding-left: 20%;
}

#recipecarousel {
  width:500px;
  height:280px;
  margin: auto;
}

.carousel-caption h2 {
  color: black;
}

/* Description text */
.carousel-caption p {
  color: black;
}

#addingredient {
  padding-right: 30%;
  padding-left: 30%;
}